.acct-wrapper-container {
  height: auto;
}

.AccountPage {
  min-height: 2rem;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.bgColorPage {
  background-color: var(--secondary);
  min-height: 26rem;
}
.userUserName {
  font-size: 2.7 rem !important;
}

.Accs-Heading {
  position: absolute;
  width: 100%;
  min-height: 5rem;
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 1px;
  z-index: 2;
}
.Accs-Heading h3 {
  margin-left: 8rem;
  font-size: 2rem;
}
.Accs-Heading span {
  color: var(--secondary);
}

.accsBoard {
  background-color: #ffff;
  width: 100%;
  height: auto;
  transform: translateY(-65px);
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(143, 139, 139, 0.2),
    0 6px 20px 0 rgba(151, 148, 148, 0.19);
}
.user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 3rem 0;
}

.user-image-div {
  padding: 0.1rem;
  object-fit: contain;
  overflow: hidden;
  border: 6px solid #fff;
  transform: translateY(-70px);
  border-radius: 50%;
}
.user-image {
  border-radius: 50%;
  width: 18rem;
  height: 18rem;
}
.user-details p {
  transform: translateY(-80px);
  font-size: 1.7rem;
}
.user-name {
  font-weight: 600;
  font-size: 2.3rem !important;
  word-spacing: 0.04rem;
}
.avatarContainer {
  transform: translateY(-50px);
  transform: translateX(-60px);
}
.avatarContainer h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.avatarImageContainer {
  display: flex;
  gap: 1rem;
}
.edit-details {
  padding: 1.5rem;
}

.edit-title {
  font-size: 1.8rem;
  padding-bottom: 0.3rem;
  margin-bottom: 1.9rem;
}

.edit-Item div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.9rem;
  font-size: 2.1rem;
  padding: 0.9rem;
  border-bottom: 1px solid #ccc9c9;
}

.edit-Item div p {
  font-size: 1.9rem;
}

.aside-edit {
  color: #999;
  margin-right: 4rem;
  font-size: 1.9rem;
  display: flex;
  gap: 1.4rem;
  cursor: pointer;
}
.acc-settings {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
}
.acc-settings h3 {
  margin-bottom: 1.3rem;
  font-size: 1.8rem;
}
.settings-Item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
}
.settings-Item:hover {
  background-color: #e0dbdb;
}
.settings-Item p {
  font-size: 1.6rem;
  text-decoration: none !important;
}
.Insta-link {
  color: #222;
  text-decoration: none;
}
.settings-Icon {
  font-size: 1.6rem;
  margin-right: 4rem;
  color: #222;
}

.popUpContainer {
  border-radius: 10px;
  width: 70%;
  padding: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -0.9%);
  z-index: 10;
  background-color: #fff;
}
.popUpContainer span {
  text-align: flex-end;
  font-size: 2rem;
  cursor: pointer;
}
.popUp-content {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.popUp-content input {
  border: none;
  border-bottom: 1px solid #ccc8c8;
  height: 3rem;
  font-size: 2.4rem;
  padding: 2rem;
}
.popUp-content input:focus {
  border: none;
}
.invalid-text {
  display: none;
}
.invalid-gmail .invalid-text {
  display: block;
  color: red;
}
.popUp-content p {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}
.popUp-content button {
  padding: 1rem;
  color: #fff;
  background-color: blueviolet;
  border-radius: 10px;
  font-size: 2rem;
  border: none;
  width: 60%;
  align-self: center;
}
/* FeedBack.js */
.feedback textarea {
  height: 28rem;
  width: 100%;
  padding: 2rem;
  font-size: 2.4rem;
  border: none;
  border-bottom: 1px solid #c0bebe;
  outline: none;
}

.feedback textarea:focus {
  outline-style: none;
}
.activateInputContainer {
  width: 90%;
  margin: 0 auto;
  font-size: 2rem;
}

.activateInputContainer input {
  width: 30rem;
  height: 4rem;
  padding: 2rem;
  font-size: 2.2rem;
}

.activateInputContainer button {
  width: 20rem;
  padding: 1.2rem;
  font-size: 2.2rem;
  border: none;
  color: #fff;
  background-color: var(--secondary);
}
.activateInputContainer button:hover {
  background-color: var(--darkSecondary);
}

/* 
FeedBack.js */
@media (min-width: 1024px) {
  .accsBoard {
    width: 60%;
  }
}

@media (max-width: 727px) {
  .acc-settings {
    padding: 2rem 1.8rem;
  }
  .acc-settings p {
    font-size: 2rem;
  }
  .edit-details {
    padding: 2rem 1.8rem;
  }
  .edit-details .edit-Item h3 {
    font-size: 2.1rem;
    font-weight: 500;
  }
  .edit-details .edit-Item div p {
    font-size: 1.7rem;
  }
  .popUpContainer {
    transform: translate(-50%, -0.9%);
    width: 90%;
  }
}
